* {
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 100%;
  }
  body {
    color: #1f0449;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  a {
    text-decoration: none;
    color: #2b2828;
  }
  img {
    max-width: 100%;
  }
  li {
    list-style: none;
  }
  .section-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 0;
    color: #2b2828;
    font-family: "Ostrich Sans";
    margin-top: 60px;
  }
 


  /* ------------
  header
  ------------ */

  header img {
    padding: 20px;
    padding-top: 0;
  }
  .icon {
    float: left;
  }
  header {
    max-width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 1.3rem;
    font-family: "Ostrich Sans";
    font-size: 1rem;
  }
  header ul{
    padding-top: 30px;
    text-align: center;
  }
  header li {
    display: inline;
    list-style: none;
    margin-left: 70px;
  }
  header a {
    color: #2b2828;
    text-decoration: none;
  }
  header a:hover {
    border-bottom: 2px solid #2b2828;
  }
  
  /* ------------
  mainvisual
  ---------------- */
  .mainvisual img {
    height: 700px;
    width: 100%;
  }
  /* ----------
  main-news
  ----------- */
  .main-news img {
      width: 80%;
  }
  .main-news {
      text-align: center;
  }
  /* -------
  products
  --------- */
  .products-menu{
      max-width: 800px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .products-menu img:hover {
      opacity: 0.7;
      cursor: pointer;
  }
  .detail {
      margin-bottom: 30px;
 }
  .detail h3, p {
      text-align: center;
      font-weight: normal;
  }
  .products img {
      width: 190px;
      border-radius: 50%;
  }

  /* -------
  stores
  -------- */
  .stores-menu{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.stores-menu img:hover {
    opacity: 0.7;
    cursor: pointer;
}
.detail2 {
    margin-bottom: 30px;
}
.detail2 p {
    text-align: center;
}
/* --------
footer
---------- */
.footer {
    background: #2b2828;
    color: antiquewhite;
    height: 100px;
    line-height: 100px;
    font-size: 0.7rem;
}
/* --------
sp
---------- */
@media screen and (max-width: 700px) {

  .section-title {
    font-size: 1rem;
  }

/* ---------
header
--------- */
  .icon {
    float: none;
    text-align: center;
  }
  header {
    max-width: 100%;
    font-size: 1rem;
  }
  header ul{
    padding-top: 0px;
  }
  header li {
    margin-left: 18px;
  }
/* ------------
  mainvisual
  ---------------- */
  .mainvisual img {
    height: 200px;
  }
/* -------
  products
  --------- */
.products-menu{
    font-size: 0.9rem;
    padding: 0 30px;
}
.detail {
    margin-bottom: 30px;
}
.products img {
    width: 130px;
}
/* --------
stores
----------- */

.stores-menu{
  flex-direction: column;
  text-align: center;
}
.stores-menu img {
  width: 250px;
}
}  